[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aphid"]
	path = aphid
	url = https://github.com/shaunpwilkinson/aphid
[submodule "dclust"]
	path = dclust
	url = https://github.com/shaunpwilkinson/dclust
[submodule "insect"]
	path = insect
	url = https://github.com/shaunpwilkinson/insect
[submodule "kmer"]
	path = kmer
	url = https://github.com/shaunpwilkinson/kmer
